<div style="margin-top: 10px; margin-bottom: 20px" class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p style="text-align: center">Abbreviated Curriculum Vitae (complete CV is <a href="https://github.com/philipmjohnson/cv/raw/master/philipmjohnson-cv.pdf">here</a>)</p>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div>

  {% include bio-education-2.html %}
  {% include bio-work-2.html %}
  {% include bio-volunteer-2.html %}
  {% include bio-publications-2.html %}
  {% include bio-awards-2.html %}

  <div class="sixteen wide column no-bottom">
    <hr>
    <p style="text-align: center">Complete CV for Philip Johnson is <a href="https://github.com/philipmjohnson/cv/raw/master/philipmjohnson-cv.pdf">here</a></p>
  </div>

</div>


