<div style="padding-top: 20px" class="ui container ">
  {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}

  <div class="ui stackable centered four cards">
      {% for page in essay_pages %}
        {% include essay-card-pj.html page=page %}
        {% if forloop.index == include.limit %}
          {% break %}
        {% endif %}
      {% endfor %}
  </div>

  {% if essay_pages.size > include.limit %}
    <p style="text-align: center; padding: 20px"><a href="{{ site.baseurl}}/essays/all.html">See all {{ essay_pages.size }} essays</a></p>
  {% endif %}
</div>